body {
	font-family: "Comic Sans MS", cursive;
	position: fixed;
	height: 100%;
	width: 100%;
	cursor: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	background: url(../assets/space.jpg);
}

.doge {
	position: fixed;
	width: 60px;
	height: 64px;
	margin-top: -32px;
	margin-left: -30px;
	background-image: url(../assets/doge.png);
}

.doge.wow {
	background-position: -60px 0;
}

.doge.wow .wow {
	display: block;
}

.doge span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: absolute;
	top: 64px;
	left: -20px;
	width: 100px;
	text-align: center;
	color: white;
	font-size: 1.2em;
}

.doge span.wow {
	display: none;
	width: auto;
	top: -15px;
	left: 60px;
	font-size: 1.5em;
	background: none;
	font-weight: bold;
	color: #FF3DB2;
}

div#author {
	cursor: default;
	z-index: 999;
    position: fixed;
    bottom: 0px;
    right: 0px;
    padding: 4px 14px;
    background: #454545;
    color: #FF44F0;
    font-weight: bold;
    font-family: sans-serif;
    font-size: .8em;
    opacity: 0.5;
	-webkit-transition: .1s all ease-in;
	-moz-transition: .1s all ease-in;
	-o-transition: .1s all ease-in;
	transition: .1s all ease-in;
}
div#author:hover {
	opacity: 0.9;
}
div#author a {
    color: #FF1D6E;
}

div#stats {
	position: fixed;
	top: 5px;
	right: 5px;
	color: #999;
	font-size: 0.8em;
    text-align: right;
}
